@{
    ViewData["Title"] = "Home Page";
}

<form action='@Url.Action("GenerarSugerencia", "Home")' method="post">

    <label>Nombre:</label>
    <input type="text" name="Nombre" required />

    <label>Fecha de nacimiento:</label>
    <input type="date" name="FechaNacimiento" required />

    <label>Tipo de comida:</label>
    <input type="radio" name="TipoComida" value="Caliente" /> Caliente
    <input type="radio" name="TipoComida" value="Fría" />     Fría

    <label>Presupuesto:</label>
    <input type="number" name="Presupuesto" min="1" required />

    <label>Cantidad de personas:</label>
    <input type="number" name="CantidadPersonas" min="1" max="20" required />

    <button type="submit">¡Sugerirme un plato!</button>
</form>